body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;  
}

.border{
    background-color: rgb(247, 241, 233);
    background-image: url("../image/img3.png");
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-position: center right;
    padding-block: 175px;
    padding-top: 175px;
   

}
.container{
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

.screen-menu{
    background-color: salmon;
    height: 50vh;
    width: 100%;
    max-width: 200px;
    position: fixed;
    top: 150px;
    left: -450px;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: left;
    text-align: left;
    font-size: 1rem;  
    transition: .4s easer;
}

.screen-menu.active{
    left: 50px;
}

nav{
    padding: 1rem;
    display: flex;
}

.menu{
    height:25px;
    width: 25px;
    margin-right: 0% ;
    position:relative ;
}
.menu span{
    height: 5px;
    width:100% ;
    background-color:black;
    border-radius: 25px;
    position: absolute;
    top:50%;
    right:20% ;
    transform: translate(-50%, -50% );
    transition: .3s ease;
}

.menu span:nth-child(1){
    top:25%;
}

.menu span:nth-child(3){
    top:75%;
}
.menu.active span:nth-child{
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.menu.active span:nth-child(2){
    opacity: 0;
}
.menu.active span:nth-child(3){
    top: 50%;
    transform:  translate(-50%,-50%) rotate(-45deg);
}

footer{
    font-size: large;
    
    position: relative;
    text-align: center left;
}

h1,h2 {
    text-align: center;
}

# home{
    
}
table{
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}
table, th, td{
    border: 1px solid black;

}

th,td {
    padding: 8px;
    text-align: left;
    font-weight: bold
}
th{
    background-color: lightgrey;
}
td{
    background-color: rosybrown;
}
.calendar{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    margin-top: 20px;
}

.day, .date {
    background-color: burlywood;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
   
}

.day{
    font-weight: bold;
    background-color: #ddd;
}

.date{
    background-color: #fff;
    cursor: pointer;
}

.sports-list{
    display: none;
    position:absolute;
    background-color: white;
    border: 1px solid #ddd;
    padding: 10px;
    z-index: 1000;
}
.date:hover .sports-list{
    display: block;
    background-color: #e0e0e0;

}

#news{
    padding: 20px;
}
.news-item{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.news-item div {
    flex: 1;
    max-width: 300px;
    text-align: center;
}
.news-item img {
    width: 100%;
    height: auto;
    max-width: 200px;
    object-fit: cover;
}

.news-item p { 
    font-size: 1.2em;
    margin: 10px 0;
}

.news-item{
    text-decoration: none;
    color: inherit;
}

